header.navbar
    background-color: #b3b3b3
    box-shadow: 10px 10px 10px  #a4a4a4

div.search-box
    background-color: #b3b3b3
    margin-left: -1.5rem
    margin-right: 0

div.search-box input
    background-color: #dedede
    min-width: 2.5rem

nav.nav-links
    background-color: #b3b3b3
    padding-left: 4rem

div.card
    background-color: #c8ddff
    padding: 1rem
    border-radius: 1rem
    margin-top: 1rem
    box-shadow: 10px 10px 10px  #a4a4a4